@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --roxoE: #411d3b;
    --roxo: #5e2a55;
    --roxoF: #8d3e80;
    --roxoFF:#b14da0;
    --roxoO: #92288085;
    --roxoFO: #8d3e80ad;

    --branco: #ffffff;

    --p: 15px;
    --b: 1px solid;
    --m: 15px;
    --br: 15px;

    --f: 1.5rem;
}

* {
    font-family: 'Lilita One', 'Montserrat';
    font-size: var(--f);
}

body {
    background-color: var(--roxo);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background: linear-gradient(to bottom left,var(--roxoO), var(--roxoFO));
    padding: var(--p);
    border-radius: var(--br);
    border: var(--b) var(--roxoF);
    width: 50%;
}

.imprimir {
    padding: calc(var(--p) *2);
    background-color: var(--roxoF);
    margin-bottom: calc(var(--m) *2);
    border-radius: calc(var(--br) /2);
}

.rows {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.number, .operation {
    width: 25%;
    border: var(--b);
}

.number:hover {
    transition: 250ms;
    background-color: var(--roxoFF);
} 

.operation {
    /* color: var(--branco); */
    background-color: var(--roxoF);
}

.operation:hover {
    transition: 250ms;
    background-color: var(--roxoE);
    background-color: var;
}

.igual {
    width: 50%;
}


